.about-us {
  @include container2($width: 80%);
  padding-bottom: 3em;
}

.about-title {
  margin: 1em 0;
  font-family: $ff-shadows;
  display: inline-block;
  text-align: center;

  &::after {
    content: '';
    background: black;
    width: 90%;
    height: 2px;
    display: block;
    margin: .3em auto;
    transform: skew(20deg);
  }

  & {
    @include mq {
      margin: 1.5em 0;
    }
  }

}

.about-text {
  text-align: justify;
  line-height: 1.6;

}
